version: "3.8"

services:
  mongodb:
    image: docker.io/bitnami/mongodb:4.4
    networks:
      - database
    restart: always
    env_file: ./.env.production
    ports:
      - $DB_PORT:$DB_PORT
    volumes:
      - "./mongodb:/data/db"

  flask-app:
    depends_on:
      - mongodb
    networks:
      - proxy
      - database
    build: ./backend
    restart: unless-stopped
    env_file: ./.env.production
    ports:
      - $FLASK_RUN_PORT:$FLASK_RUN_PORT

  react-app:
    depends_on:
      - flask-app
    networks:
      - proxy
    env_file: ./.env.production
    build:
      context: ./frontend
    ports:
      - $REACT_PORT:$REACT_PORT

  nginx:
    restart: always
    networks:
      - proxy
    depends_on:
      - react-app
      - flask-app
      - mongodb
    build:
      context: ./nginx
      args:
        - FLASK_RUN_PORT=$FLASK_RUN_PORT
        - REACT_PORT=$REACT_PORT
        - SERVER_NAME=$SERVER_NAME
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw

networks:
  proxy:
  database:
