worker_processes 1;


events {
    worker_connections 1024;
}

http {
    include mime.types;
    default_type application/octet-stream;

    sendfile on;

    keepalive_timeout 65;

    server {
        listen 80;
        server_name 127.0.0.1;

        location / {
            proxy_pass http://react-app-dev:$REACT_PORT;
        }

        location /api {
            proxy_pass http://node-app-dev:$NODE_PORT;
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root /usr/share/nginx/html;
        }
    }
}
