/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --primary: #1aac83;
  --secondary: #f1f1f1;
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--secondary);
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 20px;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  font-size: 1.2em;
}

.nav-signup {
  background-color: var(--primary);
  color: #fff;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Blog */

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #333;
}

.blog-header-create {
  padding: 20px 30px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

/* Article preview */

.article-preview {
  background-color: #fff;
  border-radius: 8px;
  margin: 30px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition-duration: 0.8s;
  display: grid;
  grid-template-columns: auto 100px;
}

.article-preview:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.article-preview-details {
  padding: 15px;
  color: #333;
  text-decoration: none;
}

.article-preview > span {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1.2s;
  animation-timing-function: ease-in;
  border-radius: 8px;
  cursor: pointer;
}

.article-preview > span:hover {
  background-color: var(--error);
}

.article-preview-details > h3 {
  font-size: 1.3em;
  margin: 0;
  padding: 5px 0 10px 0;
}

/* Create article */

.create-article {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30% auto auto;
}

.article-form {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.article-form-or {
  margin: 0;
  text-align: center;
}

.create-article-error {
  color: var(--error);
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  border-radius: 8px;
  margin: 20px 0;
}

.article-form-form {
  display: flex;
  flex-direction: column;
}

.article-form-form > label {
  font-size: 1.2em;
  margin: 10px 0;
}

.article-form-form > input,
.article-form-form > textarea {
  font-size: 1.1em;
  font-family: "Poppins";
  padding: 3px 10px;
  margin-bottom: 20px;
}

.article-form-form > input {
  height: 40px;
}

.article-form-form > button {
  height: 50px;
  font-size: 1.3em;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.article-form-form > button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.create-article-view {
  grid-column: 2 / span 2;
}

/* article */
article {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

/* Login */

.signup,
.login {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.signup-error,
.login-error {
  color: var(--error);
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  border-radius: 8px;
  margin: 20px 0;
}

.signup > label,
.login > label {
  font-size: 1.2em;
  margin: 10px 0;
}

.signup > input,
.login > input {
  font-size: 1.1em;
  font-family: "Poppins";
  padding: 3px 10px;
  margin-bottom: 20px;
  height: 40px;
}

.signup > button,
.login > button {
  height: 50px;
  font-size: 1.3em;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.signup > button:hover,
.login > button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
